<p>Hey {{ name }}, you are working at the ZenBit</p>
<p>This is your login and password</p>
<p>{{email}}
</p>
<p>
    {{password}}
</p>
<p>If you did not request this email you can safely ignore it.</p>